@using MovieTicketReservation.ViewModels
@model UserRegisterModel

<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.vi.min.js"></script>
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

@using (Ajax.BeginForm("AjaxAddMember", "Admin", new AjaxOptions { HttpMethod = "Post", OnSuccess = "memberAdded(data);" }, new { @class = "col-sm-8 col-sm-push-2" })) {
    <h2 class="separator">Thêm thành viên</h2>
    <hr />
    <label class="validate-label">@Html.ValidationSummary()</label>
    <h4><i class="fa fa-caret-right"></i> Thông tin đăng nhập</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
        <label id="emailValidate" class="validate-label"></label>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PasswordRetyped)
                @Html.PasswordFor(model => model.PasswordRetyped, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
    <br />
    <h4><i class="fa fa-caret-right"></i> Thông tin cơ bản</h4>
    <hr />
    <div class="basicInfo">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Họ")
                    @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Tên")
                    @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Giới tính")
                    @Html.DropDownListFor(model => model.Gender,
                                            new SelectList(
                                                new List<object> {
                                                    new {value = false, text = "Nữ" },
                                                    new {value = true, text = "Nam"}
                                                },
                                                "value",
                                                "text"
                                            ),
                                            htmlAttributes: new { @class = "form-control" }
                                        )
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Ngày sinh")
                    @Html.EditorFor(model => model.BirthDay, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <br />
    <h4><i class="fa fa-caret-right"></i> Thông tin liên lạc</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.IdCardNumber)
        @Html.TextBoxFor(model => model.IdCardNumber, htmlAttributes: new { @class = "form-control" })
        <label id="idCardValidate" class="validate-label"></label>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-sm-8">
            <input id="btnRegister" class="btn btn-primary" style="float: right; margin-left: 10px" type="submit" value="Thêm" />
            <input id="btnCancel" class="btn btn-danger" style="float: right; margin-left: 10px" type="reset" value="Huỷ" />
        </div>
    </div>
}

<script>
    $("#emailValidate").fadeOut();
    $("#idCardValidate").fadeOut();

    $("input[name=Email]").blur(function () {
        var str = $(this).val();
        $.get("/User/AjaxCheckEmail", { email: str }, function (data) {
            if (data.Success == false) {
                $("#emailValidate").fadeIn();
                $("#emailValidate").text(data.ErrorMessage);
            } else {
                $("#emailValidate").fadeOut();
            }
        });
    });

    $("input[name=IdCardNumber]").blur(function () {
        var str = $(this).val();
        $.get("/User/AjaxCheckIdCard", { idCardNumber: str }, function (data) {
            if (data.Success == false) {
                $("#idCardValidate").fadeIn();
                $("#idCardValidate").text(data.ErrorMessage);
            } else {
                $("#idCardValidate").fadeOut();
            }
        });
    });

    function memberAdded(data) {
        if (data.Success) {
            alert("Thêm thành viên thành công!");
        }
        else {
            var errors = "\nErrors: ";
            $.each(data, function (index, value) {
                errors += value;
            });
            alert("Không thể thêm thành viên" + errors);
        }
    }
</script>
