@using MovieTicketReservation.Models;
@{
    ViewBag.Title = "Admin CP";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/raphael.min.js"></script>
<script src="~/Scripts/morris.min.js"></script>
<link href="~/Content/morris.css" rel="stylesheet" />

<div class="col-lg-12">
    <h1 class="separator">
        Thống kê chung
    </h1>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-desktop fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">@ViewBag.TodayRevenue VND</div>
                    <div>Tổng doanh thu trong ngày</div>
                </div>
            </div>
        </div>
        <a href="#" class="ajaxLink" data-page="ticketstats_overall">
            <div class="panel-footer">
                <span class="pull-left">Chi tiết</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">@ViewBag.TotalBookings</div>
                    <div>Tổng lượt đặt vé trong ngày</div>
                </div>
            </div>
        </div>
        <a href="#" class="ajaxLink" data-page="ticketstats_overall">
            <div class="panel-footer">
                <span class="pull-left">Chi tiết</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">@ViewBag.TotalMembers</div>
                    <div>Tổng số thành viên</div>
                </div>
            </div>
        </div>
        <a href="#" class="ajaxLink" data-page="managemember_all">
            <div class="panel-footer">
                <span class="pull-left">Chi tiết</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">@ViewBag.ShowingMovies</div>
                    <div>Tổng film đang chiếu</div>
                </div>
            </div>
        </div>
        <a href="#" class="ajaxLink" data-page="managemember_all">
            <div class="panel-footer">
                <span class="pull-left">Chi tiết</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-sm-12">
    <h3 class="separator">Doanh thu trong tuần toàn hệ thống</h3>
    <div id="line-result">

    </div>
</div>
<div class="col-sm-12">
    <h2 class="separator">Lượt đặt trong ngày toàn hệ thống</h2>
    <div class="table-responsive" style="overflow-y: scroll; max-height: 500px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="5%">ID</th>
                    <th width="25%">Email</th>
                    <th width="30%">Họ tên</th>
                    <th width="10%">Rạp</th>
                    <th width="15%">Film</th>
                    <th width="15%">Số lượng</th>
                </tr>
            </thead>
            <tbody id="result">
                @foreach (BookingHeader item in ViewBag.BookingHeaders) {
                    <tr>
                        <td>@item.HeaderID</td>
                        <td>@item.Member.Email</td>
                        <td>@item.Member.Firstname @item.Member.Lastname</td>
                        <td>@item.Seat_ShowDetails.First().Schedule.Cine_MovieDetails.Cinema.Name</td>
                        <td>@item.Movie.Title</td>
                        <td>@item.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $("a.ajaxLink").click(function (event) {
        event.preventDefault();
        var page = $(this).attr("data-page");
        if (page != null) {
            $.get("/Admin/GetPage", { page: page }, function (htmlResponse) {
                $("#main_content").html(htmlResponse);
            });
        }
    });


    $(document).ready(function () {
        var data = [];
        $.getJSON("/Admin/AjaxRevenue_OverallStat_Week", function (response) {
            Morris.Line({
                element: "line-result",
                data: response,
                xkey: "date",
                ykeys: ["total"],
                labels: ["Lượt đặt"],
                parseTime: false,
            });
        });
    });
</script>
