@using MovieTicketReservation.ViewModels
@model PromotionModel

@{
    ViewBag.Title = "Thêm chương trình khuyến mãi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
<link href="~/Content/fileupload.min.css" rel="stylesheet" />
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>

<div class="col-sm-8 col-sm-push-2">
    <h2 class="separator">Thêm chương trình khuyến mãi</h2>
    @using (Html.BeginForm("ManagePromotion", "Admin", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" })) {
        <div class="form-group">
            <label>Tên bài viết</label>
            <input type="text" required name="Title" value="" class="form-control" placeholder="Tên bài viết" />
            @Html.ValidationMessageFor(model => model.Title, "", htmlAttributes: new { @class = "validate-label" })
        </div><br />
        <div class="form-group">
            <label>Mô tả ngắn</label>
            <input type="text" required name="Description" value="" class="form-control" placeholder="Mô tả ngắn" />
            @Html.ValidationMessageFor(model => model.Title, "", htmlAttributes: new { @class = "validate-label" })
        </div><br />
        <div class="form-group">
            <div class="btn btn-primary btn-file">
                <i class="glyphicon glyphicon-folder-open"></i>
                &nbsp;Hình cover …<input accept="image/*" name="Thumbnail" type="file">
            </div>
            @Html.ValidationMessageFor(model => model.Thumbnail, "", htmlAttributes: new { @class = "validate-label" })
        </div>
        <div class="form-group">
            <label>Nội dung</label>
            <textarea required id="txtContent" name="Content" style="width:100%"></textarea>
            @Html.ValidationMessageFor(model => model.Content, "", htmlAttributes: new { @class = "validate-label" })
        </div>
        <div class="form-group">
            <label>Giảm giá</label>
            <input name="PriceOff" class="form-control" required min="0" max="50" type="number" placeholder="% giảm giá" />
            @Html.ValidationMessageFor(model => model.PriceOff, "", htmlAttributes: new { @class = "validate-label" })
        </div>
        <div class="form-group">
            <label>Tags</label>
            <input name="Tags" class="form-control" placeholder="Nhập tags, cách nhau bằng space" />
        </div>
        <div class="form-group">
            <button id="btnSubmit" type="submit" style="float: right" class="btn btn-success">Thêm</button>
            <button id="btnCancel" type="button" style="float: right; margin-right: 50px;" class="btn btn-danger">Huỷ</button>
        </div>
    }
</div>
