<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CINE4U - Admin CP</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("/bundles/admin")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Addition scripts -->
    <script src="~/Scripts/metisMenu.js"></script>
    <script src="~/Scripts/sb-admin-2.js"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CINE4U - Admin", "Index", "Admin", null, new { @class = "navbar-brand" })
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                @if (Session["Role"] != null) {
                    <li>
                        <a href="/Admin/Logout">
                            <i class="fa fa-sign-out fa-fw"></i> Đăng xuất
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/User/">
                            <i class="fa fa-user fa-fw"></i> Profile
                        </a>
                    </li>
                } else {
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/Admin/Login">
                            <i class="fa fa-sign-in fa-fw"></i> Đăng nhập
                        </a>
                    </li>
                }
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    @if (Session["Role"] != null) {
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/Admin/"><i class="fa fa-dashboard fa-fw"></i> Bảng điều khiển</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Thống kê<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#" class="ajaxLink" id="moviestats_overall"> Thống kê film</a>
                                    </li>
                                    <li>
                                        <a href=""> Tình trạng đặt vé<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li><a href="#" class="ajaxLink" id="ticketstats_overall"><i class="fa fa-arrow-right fa-fw"></i> Thống kê chung</a></li>
                                            <li><a href="#" class="ajaxLink" id="ticketstats_movie"><i class="fa fa-arrow-right fa-fw"></i> Các film đang chiếu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            @if ((int)Session["Role"] == 1) {
                                <li>
                                    <a href="#"><i class="fa fa-film"></i> Quản lý<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="#" class="ajaxLink" id="managemovie_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả film</a></li>
                                        <li><a href="/Admin/ManageMovie_Add"><i class="fa fa-arrow-right fa-fw"></i> Thêm film mới</a></li>
                                        <li><a href="#" class="ajaxLink" id="managemovie_add"><i class="fa fa-arrow-right fa-fw"></i> Film ở rạp</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-gift fa-fw"></i> Chương trình khuyến mãi<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="#" class="ajaxLink" id="promotion_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả chương trình</a></li>
                                        <li><a href="/Admin/ManagePromotion_Add"><i class="fa fa-arrow-right fa-fw"></i> Thêm khuyến mãi</a></li>
                                    </ul>
                                </li>
                            } else if ((int)Session["Role"] == 2) {
                                <li>
                                    <a href="#"><i class="fa fa-film fa-fw"></i> Quản lý lịch chiếu<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="#" class="ajaxLink" id="manageschedule_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả lịch chiếu</a></li>
                                        <li><a href="#" class="ajaxLink" id="manageschedule_add"><i class="fa fa-arrow-right fa-fw"></i> Thêm lịch chiếu</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-user fa-fw"></i> Quản lý thành viên<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="#" class="ajaxLink" id="managemember_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả thành viên</a></li>
                                        <li><a href="#" class="ajaxLink" id="managemember_add"><i class="fa fa-arrow-right fa-fw"></i> Thêm thành viên</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-gift fa-fw"></i> Quản lí tin tức<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="#" class="ajaxLink" id="managenews_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả tin</a></li>
                                        <li><a href="/Admin/ManageNews_Add"><i class="fa fa-arrow-right fa-fw"></i> Thêm tin mới</a></li>
                                    </ul>
                                </li>
                            }

                        </ul>
                    }
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" id="main_content" style="padding-bottom: 50px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script>
        $("a.ajaxLink").click(function (event) {
            event.preventDefault();
            var page = $(this).attr("id");
            if (page != null) {
                $.get("/Admin/GetPage", { page: page }, function (htmlResponse) {
                    $("#main_content").html(htmlResponse);
                });
            }
        });
    </script>
</body>
</html>
