<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>CINE4U - Admin CP</title>
	@Scripts.Render("~/bundles/jquery")
	@Styles.Render("/bundles/admin")
	@Scripts.Render("~/bundles/bootstrap")

	<!-- Addition scripts -->
	<script src="~/Scripts/metisMenu.min.js"></script>
	<script src="~/Scripts/sb-admin-2.js"></script>

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("CINE4U - Admin", "Index", "Admin", null, new { @class = "navbar-brand" })
			</div>
			<!-- /.navbar-header -->
			<ul class="nav navbar-top-links navbar-right">
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" href="/Admin/Logout">
						<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> Đăng xuất
					</a>
				</li>
			</ul>
			<!-- /.navbar-top-links -->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li>
							<a href="/Admin/"><i class="fa fa-dashboard fa-fw"></i> Bảng điều khiển</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Thống kê<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href=""> Tình trạng film<span class="fa arrow"></span></a>
									<ul class="nav nav-second-level">
										<li><a href="#" id="moviestats_overall"><i class="fa fa-arrow-right fa-fw"></i> Tình trạng chung</a></li>
										<li><a href="#" id="moviestats_view"><i class="fa fa-arrow-right fa-fw"></i> Thống kê theo lượt xem</a></li>
										<li><a href="#" id="moviestats_ticket"><i class="fa fa-arrow-right fa-fw"></i> Thống kê theo lượt đặt vé</a></li>
									</ul>
								</li>
								<li>
									<a href=""> Tình trạng đặt vé<span class="fa arrow"></span></a>
									<ul class="nav nav-second-level">
										<li><a href="#" id="ticketstats_overall"><i class="fa fa-arrow-right fa-fw"></i> Tình trạng chung</a></li>
										<li><a href="#" id="ticketstats_movie"><i class="fa fa-arrow-right fa-fw"></i> Thống kê theo film</a></li>
										<li><a href="#" id="ticketstats_showtime"><i class="fa fa-arrow-right fa-fw"></i> Thống kê theo suất chiếu</a></li>
										<li><a href="#" id="ticketstats_room"><i class="fa fa-arrow-right fa-fw"></i> Thống kê theo phòng</a></li>
									</ul>
								</li>
								<li>
									<a href="#" id="systemstats"> Tình trạng hệ thống</a>
								</li>
							</ul>
							<!-- /.nav-second-level -->
						</li>
						<li>
							<a href="#"><i class="fa fa-film fa-fw"></i> Quản lý film<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a href="#" id="managemovie_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả film</a></li>
								<li><a href="#" id="manageschedule_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả suất chiếu</a></li>
								<li><a href="#" id="manageschedule_create"><i class="fa fa-arrow-right fa-fw"></i> Thêm suất chiếu</a></li>
								<li><a href="#" id="manageschedule_edit"><i class="fa fa-arrow-right fa-fw"></i> Chỉnh sửa suất chiếu</a></li>
							</ul>
						</li>
						<li>
							<a href=""><i class="fa fa-user fa-fw"></i> Quản lý thành viên<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a href="#" id="mamangemember_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả thành viên</a></li>
								<li><a href="#" id="managemember_add"><i class="fa fa-arrow-right fa-fw"></i> Thêm thành viên</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-gift fa-fw"></i> Chương trình khuyến mãi<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a href="#" id="promotion_all"><i class="fa fa-arrow-right fa-fw"></i> Tất cả chương trình</a></li>
								<li><a href="#" id="promotion_add"><i class="fa fa-arrow-right fa-fw"></i> Thêm khuyến mãi</a></li>
								<li><a href="#" id="promotion_edit"><i class="fa fa-arrow-right fa-fw"></i> Chỉnh sửa thông tin</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row" id="main_content">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
	<script>
        $(".nav-second-level > li > a").click(function (event) {
            event.preventDefault();
			var page = $(this).attr("id");
			if (page != null) {
				$.get("/Admin/GetPage", { page: page }, function (htmlResponse) {
					$("#main_content").html(htmlResponse);
				});
			}
		});
	</script>
</body>
</html>
