@using MovieTicketReservation.Models
@model Member

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.vi.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.en-GB.min.js"></script>
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-panel">
                <div class="col-sm-4">
                    <div class="avatar-container">
                        <img src="@Model.AvatarURL" alt="Image" />
                        <button class="btn btn-success">Đổi ảnh đại diện</button>
                    </div>
                </div>
                <div class="col-sm-8">
                    @using (Html.BeginForm("Update", "User", FormMethod.Post, htmlAttributes: null)) {
                        <div class="col-sm-8">
                            <h2>Thông tin cơ bản</h2>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Firstname)
                                @Html.TextBoxFor(model => model.Firstname, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Lastname)
                                @Html.TextBoxFor(model => model.Lastname, htmlAttributes: new { @class = "form-control" })
                            </div>

                            <h4>Thông tin đăng nhập</h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password)
                                @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "form-control" })

                            </div>

                            <h4>Thông tin xác thực</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDCardNumber)
                                @Html.TextBoxFor(model => model.IDCardNumber, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextBoxFor(model => model.Address, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone)
                                @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender)
                                @Html.DropDownListFor(model => model.Gender,
                                    new SelectList(
                                        new List<object> {
                                            new {value = 0, text = "Nữ" },
                                            new {value = 1, text = "Nam"}
                                        },
                                        "value",
                                        "text",
                                        1
                                    ),
                                    htmlAttributes: new { @class = "form-control" }
                                )
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Birthday)
                                @Html.TextBoxFor(model => model.Birthday, htmlAttributes: new { @class = "form-control", id = "date-picker" })
                            </div>
                            <div class="form-group">
                                <input type="submit" id="btnSave" value="Lưu" />
                            </div>
                        </div>
                    }
                </div>
                <script>
                    $("#date-picker").datepicker({});
                </script>
            </div>
        </div>
    </div>
</div>
