@using MovieTicketReservation.ViewModels
@model BookingDetailsModel
@{
    ViewBag.Title = "Xác nhận đặt vé";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/ticket.css" />

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-xs-12">
            <div class="col-panel">
                <h2>Thông tin vé</h2>
                <hr />
                <div class="col-sm-8">
                    <div class="inline-child">
                        <p class="detail-header">Film: </p>@Model.MovieTitle
                    </div>
                    <div class="inline-child">
                        <p class="detail-header">Ngày đặt: </p>@Model.ReservedDate.ToShortDateString()
                    </div>
                    <div class="inline-child">
                        <p class="detail-header">Rạp: </p>@Model.Cinema
                    </div>
                    <div class="inline-child">
                        <p class="detail-header">Phòng: </p>@Model.Room
                    </div>
                    <div class="inline-child">
                        <p class="detail-header">Ngày giờ chiếu: </p>@Model.Showtime
                    </div>
                    <div class="inline-child">
                        <p class="detail-header">Số ghế: </p>@Model.Seats.Count()
                    </div>
                    <div class="inline-child">
                        <p class="detail-header">Tổng tiền </p>@Model.Total
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="@Model.MovieThumbnail" alt="" class="img-responsive" />
                </div>
                <div class="table-responsive col-sm-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Hàng</th>
                                <th>Cột</th>
                                <th>Tên</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var seat in Model.Seats) {
                                <tr>
                                    <td>@seat.Substring(0, 1)</td>
                                    <td>@seat.Substring(1, 2)</td>
                                    <td>@seat</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <span class="col-sm-12">
                    @Html.ActionLink("Quay lại", "Reserve", "Ticket", new { scheduleId = Model.ScheduleId }, new { @class = "btn btn-info", style = "float: left" })
                    @Html.ActionLink("Xác nhận", "CheckOut", "Ticket", null, new { @class = "btn btn-success", style = "float: right;" })
                    <a id="btnCancelReservation" href="/Ticket/CancelConfirmation" class="btn btn-danger" style="float: right; margin-right: 10px">Huỷ</a>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnCancelReservation").click(function () {
        if (!confirm("Bạn thực sự muốn huỷ việc đặt vé này?")) return false;
        return true;
    });
</script>