@using MovieTicketReservation.ViewModels
@model List<TicketModel>
@{
    ViewBag.Title = "Các vé đã đặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/ticket.css" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8 col-sm-push-2 col-panel ticket-list">
                <h2 class="separator">Các vé đã đặt</h2>
                @if (Model.Count() != 0) {
                    foreach (var item in Model) {
                        <div class="item item-@item.BookingHeaderId">
                            <div class="col-sm-4">
                                <img class="img img-responsive" src="@item.ThumbnailUrl" alt="Alternate Text" />
                            </div>
                            <div class="col-sm-8">
                                <div class="inline-child">
                                    <p class="detail-header">Film: </p>@item.MovieTitle
                                </div>
                                <div class="inline-child">
                                    <p class="detail-header">Ngày đặt: </p>@item.ReservedDate.ToShortDateString()
                                </div>
                                <div class="inline-child">
                                    <p class="detail-header">Địa điểm: </p>@Html.ActionLink(item.Cinema.Name, "Details", "Cinema",
                                        routeValues: new { cinemaID = item.Cinema.CinemaId }, htmlAttributes: null)
                                    @item.RoomName
                                </div>
                                <div class="inline-child">
                                    <p class="detail-header">Ngày giờ chiếu: </p>@item.ShowTime.Hours giờ @item.ShowTime.Minutes phút ngày @item.ShowDate.ToShortDateString()
                                </div>
                                <div class="inline-child">
                                    <p class="detail-header">Số ghế: </p>@item.Seats.Count()
                                </div>
                                <div class="inline-child">
                                    <p class="detail-header">Tổng tiền </p>@((int)item.Total) VND
                                </div>
                                <div class="inline-child">
                                    <p class="detail-header">Tình trạng: </p>
                                    @if (item.IsTaken == true) {
                                        <text>Đã nhận vé</text>
                                    } else {
                                        <text>Chưa nhận vé</text>
                                    }
                                </div>
                            </div>
                            <span>&nbsp;</span>
                            <div class="col-sm-12">
                                <div class="table-responsive col-sm-8">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Hàng</th>
                                                <th>Cột</th>
                                                <th>Tên</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var seat in item.Seats) {
                                                <tr>
                                                    <td>@seat.Substring(0, 1)</td>
                                                    <td>@seat.Substring(1, 2)</td>
                                                    <td>@seat</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4">
                                    <span>&nbsp;</span>
                                    <button style="width: 100%" id="btnCancelTicket" class="btn btn-danger" onclick="cancelReservation(@item.BookingHeaderId);">Huỷ vé</button>
                                    <span>&nbsp;</span>
                                    @Html.ActionLink("Huỷ ghế", "ChangeReservedSeats", "Ticket", new { bookingHeaderId = item.BookingHeaderId }, new { @class = "btn btn-danger", style = "width: 100%" })
                                </div>
                            </div>
                        </div>
                    }
                } else {
                    <h4 style="text-align: center">Bạn chưa đặt vé nào, <a href="/Movies/">chọn film và đặt ngay!</a></h4>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function changeSeat(bookingHeaderId) {

    }

    function cancelReservation(bookingHeaderId) {
        if (!confirm("Bạn chắc chắn muốn huỷ đặt vé?")) {
            return false;
        }
        $.post("/Ticket/AjaxCancelReservation", { bookingHeaderId: parseInt(bookingHeaderId) }, function (data) {
            if (data.Success == true) {
                $("div.item-" + bookingHeaderId).remove();
                alert("Đã huỷ vé thành công!");
                if ($(".item").length == 0) {
                    $(".ticket-list").empty();
                    $(".ticket-list").append('<h2 class="separator">Các vé đã đặt</h2>');
                    $(".ticket-list").append('<h4 style="text-align: center">Bạn chưa đặt vé nào, <a href="/Movies/">chọn film và đặt ngay!</a></h4>');
                }
            } else {
                alert(data.ErrorMessage);
            }
        });
    }
</script>
