@using MovieTicketReservation.Models
@model List<Seat_ShowDetails>
@{
    ViewBag.Title = "Reserve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ticket.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery.countdown.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-panel">
            <div class="col-sm-4">
                <h4>Lưu ý</h4>
                <p>
                    - Ghế màu đỏ là ghế đã được đặt. <br />
                    - Ghế bạn đang chọn có màu cam.<br />
                    - Nhấp vào ghế một lần để chọn, nhấp lần nữa để bỏ chọn ghế đó.<br />
                    - Thời gian chọn ghế của bạn là 15 phút.<br />
                    - Nếu trong thời gian 15 phút bạn chưa xác nhận, bạn sẽ được chuyển đến trang film và chọn lại film.<br />
                    - Sau khi chọn ghế và xác nhận, nếu ghế bạn vừa chọn đã được đặt trước khi bạn xác nhận,
                    bạn sẽ được thông báo về việc này và được chọn lại ghế khác.<br />
                </p>
            </div>
            <div class="col-sm-5 col-xs-12">
                <div class="screen">
                    <img src="~/Content/Images/screen.png" />
                </div>
                <div class="seats">
                    @if (Model != null) {
                        foreach (var seat in Model) {
                            if ((bool)seat.Reserved) {
                                <div class="col-xs-1 seat taken">
                                    <a class="seat" href="#">
                                        <text>@seat.Seat.Name</text>
                                        <img class="img img-responsive" src="~/Content/Images/takenseat.png" alt="" />
                                    </a>
                                </div>
                            } else {
                                <div class="col-xs-1 seat">
                                    <a class="avail-seat" href="#" data-seat="@seat.SeatID">
                                        <text>@seat.Seat.Name</text>
                                        <img class="img img-responsive" src="~/Content/Images/availseat.png" alt="" />
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-sm-3 options">
                <h4>Thời gian còn lại</h4>
                <h4 class="countdown"></h4>
                <hr />
                <script>
                    // Our countdown plugin takes a callback, a duration and a container
                    function startTimer(duration, container, callback) {
                        var timer = duration, minutes, seconds;
                        setInterval(function () {
                            minutes = parseInt(timer / 60, 10);
                            seconds = parseInt(timer % 60, 10);

                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            seconds = seconds < 10 ? "0" + seconds : seconds;

                            container.text(minutes + ":" + seconds);

                            if (--timer == 0) {
                                callback.call(redirect);
                            }
                        }, 1000);
                    }

                    function redirect() {
                        alert("Thời gian chọn ghế của bạn đã hết, vui lòng chọn lại film và ghế.")
                        window.location = "/Movies";
                    }

                    jQuery(function ($) {
                        var fiveMinutes = 15 * 60,
                            display = $('.countdown');
                        startTimer(fiveMinutes, display, redirect);
                    });
                </script>
                <span>
                    @Html.ActionLink("Xác nhận", "Confirm", "Ticket", null, new { @class = "btn btn-success", id = "btnConfirm" })
                    @Html.ActionLink("Huỷ bỏ", "Index", "Movies", new { }, new { @class = "btn btn-danger" })
                </span>
            </div>
        </div>
    </div>
    <script>
        $(".avail-seat").click(function (e) {
            var target = $(this);
            var id = target.attr("data-seat");
            if (target.hasClass("selected")) {
                $(this).find('img').attr("src", "../Content/Images/availseat.png");
                $.post("/Ticket/AjaxRemoveSeat", { seatId: id }, function (data) {
                    target.removeClass("selected");
                });
            } else {
                $(this).find('img').attr("src", "../Content/Images/selectingseat.png");
                $.post("/Ticket/AjaxAddSeat", { seatId: id }, function (data) {
                    target.addClass("selected");
                });
            }
        });

        $("#btnConfirm").click(function () {
            if ($(".selected").length == 0) {
                alert("Bạn phải chọn ghế!");
                return false
            }
            return true;
        });
    </script>
</div>
