@using MovieTicketReservation.ViewModels
@model List<MovieExtendedModel>

@foreach (var item in Model) {
    <div class="col-sm-12 item" id='@item.MovieID'>
        <img src="@Url.Content(item.ThumbnailURL)" alt="" class="col-sm-3 center img-responsive">
        <div class="col-sm-9">
            <div class="movie-details col-sm-7">
                <h3 class="movie-title">
                    @Html.ActionLink(item.Title, "Details", "Movies", new { MovieID = item.MovieID }, null)
                </h3>
                <div class="inline-child"><p class="detail-header">Ngày ra mắt: </p>@item.ReleasedDate</div>
                <div class="inline-child"><p class="detail-header">Độ dài: </p>@item.MovieLength.ToString() phút</div>
                <p class="detail-header">Tóm tắt: </p>@item.Description
            </div>
            <div class="col-xs-12 col-sm-5 movie-options">
                <br />
                <span class="detail-header">Phiên bản: </span><span class="badge">@item.MovieEdition.Name</span><span class="badge">@item.Subtitle.Description</span>
                <p></p>
                <span class="detail-header">Giới hạn độ tuổi: </span><span class="badge">@item.AgeLimitation.Description</span>
                <hr>
                @if (item.ScheduleType == 1 || item.ScheduleType == 2) {
                    <button class="btn btn-sm btn-success center btn-schedule" data-id="@item.MovieID">Đặt vé</button>
                } else if (item.ScheduleType == 3) {
                    <button class="btn btn-primary center" disabled>Đang lên lịch</button>
                } else {
                    <button class="btn btn-primary center" disabled>Đã hết thời gian chiếu</button>
                }
                <hr>
                <div class="fb-share-button" style="padding-top: 5px" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
            </div>
        </div>
    </div>
}
