@using MovieTicketReservation.ViewModels
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MovieExtendedModel

<link href="~/Content/film_details.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="film-details">
                <img src="@Model.WideThumbnail" alt="" class="wide-thumbnail img-responsive">
                <div class="film-info">
                    <div class="col-sm-7 info">
                        <h1 class="film-title">@Model.Title</h1>
                        <div class="inline-child">
                            <p class="detail-header">Khởi chiếu: </p>
                            Từ @(((DateTime)Model.BeginShowDate).ToShortDateString()) đến @(((DateTime)Model.BeginShowDate).AddDays((int)Model.Duration).ToShortDateString());
                        </div>
                        <div class="inline-child">
                            <p class="detail-header">Thể loại: </p>
                            @foreach (var item in Model.MovieGenres) {
                                <span class="badge">@item.Name</span>
                            }
                        </div>
                        <p class="detail-header">Diễn viên: </p>@Model.Actors
                        <div class="inline-child">
                            <p class="detail-header">Đạo diễn: </p>@Model.Director
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <h2></h2>
                        <p class="detail-header">Phiên bản: </p><span class="badge">@Model.MovieEdition.Name</span><span class="badge">@Model.Subtitle.Description</span>
                        <hr>
                        @if (Model.ScheduleType == 1 || Model.ScheduleType == 2) {
                            <button class="btn btn-sm btn-success center btn-schedule" data-id="@Model.MovieID">Đặt vé</button>
                        } else if (Model.ScheduleType == 3) {
                            <button class="btn btn-primary center" disabled>Đang lên lịch</button>
                        } else {
                            <button class="btn btn-primary center" disabled>Đã hết thời gian chiếu</button>
                        }
                        <script type="text/javascript">
                            $('.btn-schedule').click(function (e) {
                                e.preventDefault();
                                var target = $('.film-description>ul>li>a[href="#scheduler"]');
                                target.tab('show');
                                $('html, body').animate({
                                    scrollTop: $(target).offset().top
                                }, 2000);
                            });
                        </script>
                        <hr>
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" show-faces="false"></div>
                        <div class="fb-share-button" style="padding-top: 5px" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
                    </div>
                </div>

                <div class="col-sm-12 film-description">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Giới thiệu</a>
                        </li>
                        <li role="presentation">
                            <a href="#trailer" aria-controls="trailer" role="tab" data-toggle="tab">Trailer</a>
                        </li>
                        <li role="presentation">
                            <a href="#scheduler" aria-controls="scheduler" role="tab" data-toggle="tab">Lịch chiếu</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="description">
                            <p>@Model.LongDescription</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="trailer">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="trailer" class="embed-responsive-item" src="@Model.TrailerURL"></iframe>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="scheduler">
                            @if (Model.ScheduleType == 1 || Model.ScheduleType == 2) {
                                foreach (var cinema in ViewBag.Schedules) {
                                    <p class="schedule-cine">@cinema.CinemaName</p>
                                    foreach (var date in cinema.Dates) {
                                        <p class="schedule-date">
                                            @date.ShowingDate.ToShortDateString():
                                            @foreach (Showtime item in date.Showtimes) {
                                                if (date.ShowingDate.Date == DateTime.Now.Date) {
                                                    if (item.Time >= DateTime.Now.TimeOfDay) {
                                                        <span>
                                                            @Html.ActionLink(item.Time.Hours + "h" + item.Time.Minutes,
                                                "Reserve", "Ticket", new { ScheduleID = item.ScheduleId }, new { @class = "schedule-showtime" })
                                                        </span>
                                                    }
                                                } else {
                                                    <span>
                                                        @Html.ActionLink(item.Time.Hours + "h" + item.Time.Minutes,
                                                "Reserve", "Ticket", new { ScheduleID = item.ScheduleId }, new { @class = "schedule-showtime" })
                                                    </span>
                                                }
                                            }
                                        </p>
                                    }
                                }
                            } else if (Model.ScheduleType == 3) {
                                <p class="schedule-cine">Đang lên lịch</p>
                            } else {
                                <p class="schedule-cine">Đã hết thời gian chiếu</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h4 class=""></h4>
        </div>
    </div>
</div>