@using MovieTicketReservation.ViewModels
@using MovieTicketReservation.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<MovieExtended>
<link href="~/Content/movies.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="movies-container">
                <div id="filtered-result">
                    @RenderPage("_MovieTemplate.cshtml", Model)
                </div>
            </div>
        </div>
        <div class="col-sm-3 filter-container">
            <div class="filter">
                <h4 class="separator filter-heading"><i class="fa fa-caret-right"></i> <a href="" class="checkbox-list" data-toggle="#scheduletype-list">Phân loại</a></h4>
                <div class="filter-list" id="scheduletype-list">
                    <input type="checkbox" class="chkSchedule" value="1"> Phim đang chiếu
                    <br>
                    <input type="checkbox" class="chkSchedule" value="2"> Phim sắp chiếu
                    <br />
                    <input type="checkbox" class="chkSchedule" value="3"> Phim sắp ra mắt
                    <br>
                </div>
                <h4 class="separator filter-heading"><i class="fa fa-caret-right"></i> <a href="" class="checkbox-list" data-toggle="#rate-list">Điểm số</a></h4>
                <div class="filter-list" id="rate-list">
                    <input type="checkbox" class="chkRate" value="hot"> Phim bom tấn
                    <br>
                    <input type="checkbox" class="chkRate" value="rate"> Phim có điểm cao
                    <br />
                </div>
                <h4 class="separator filter-heading"><i class="fa fa-caret-right"></i> <a href="" class="checkbox-list" data-toggle="#ageLimitation-list">Độ tuổi</a></h4>
                <div class="filter-list" id="ageLimitation-list">
                    @foreach (var item in ViewBag.AgeList) {
                        <input type="checkbox" class="chkAge" value="@item.LimitationID">
                        @item.Description
                        <br>
                    }
                </div>
                <h4 class="separator filter-heading"><i class="fa fa-caret-right"></i> <a href="" class="checkbox-list" data-toggle="#location-list">Địa điểm</a></h4>
                <div class="filter-list" id="location-list">
                    @foreach (var item in ViewBag.CinemaList) {
                        <input type="checkbox" class="chkCinema" value="@item.CinemaID">
                        @item.Name
                        <br>
                    }
                </div>
                <h4 class="separator filter-heading"><i class="fa fa-caret-right"></i> <a class="checkbox-list" href="" data-toggle="#edition-list">Phiên bản</a></h4>
                <div class="filter-list" id="edition-list">
                    @foreach (var item in ViewBag.EditionList) {
                        <input type="checkbox" class="chkEdition" value="@item.EditionID">
                        @item.Name
                        <br>
                    }
                </div>
                <h4 class="separator filter-heading"><i class="fa fa-caret-right"></i> <a class="checkbox-list" href="" data-toggle="#genre-list">Thể loại</a></h4>
                <div class="filter-list" id="genre-list">
                    @foreach (var item in ViewBag.GenreList) {
                        <input type="checkbox" class="chkGenre" value="@item.GenreID">
                        @item.Name
                        <br>
                    }
                </div>
                <button class="btn btn-info" id="btnFilter">Lọc</button>
            </div>
        </div>
        <script type="text/javascript">
            $(".checkbox-list").click(function () {
                var target = $($(this).attr("data-toggle"));
                target.slideToggle('fast');
            });

            $("#btnFilter").click(function () {
                var arrCinema = [];
                var arrEdition = [];
                var arrGenre = [];
                var arrScheduleType = [];
                var arrRate = [];
                var arrAge = [];

                $(".chkAge:checked").each(function () {
                    arrAge.push($(this).val());
                });

                $(".chkRate:checked").each(function () {
                    arrRate.push($(this).val());
                });

                $(".chkCinema:checked").each(function () {
                    arrCinema.push($(this).val());
                });

                $(".chkEdition:checked").each(function () {
                    arrEdition.push($(this).val());
                });

                $(".chkGenre:checked").each(function () {
                    arrGenre.push($(this).val());
                });

                $(".chkSchedule:checked").each(function () {
                    arrScheduleType.push($(this).val());
                });

                $.get("/Movies/AjaxFilter", {
                    cinemaFilter: JSON.stringify(arrCinema),
                    editionFilter: JSON.stringify(arrEdition),
                    genreFilter: JSON.stringify(arrGenre),
                    scheduleTypeFilter: JSON.stringify(arrScheduleType),
                    rateFilter: JSON.stringify(arrRate),
                    ageFilter: JSON.stringify(arrAge)
                }, function (result) {
                    if (result != "") {
                        $("#filtered-result").html(result).fadeIn("fast");
                    } else {
                        $("#filtered-result").html("<h2>Không tìm thấy film phù hợp với bộ lọc được cung cấp!</h2>");
                    }
                });
            });
        </script>
    </div>
</div>
<script>
    $(".btn-schedule").click(function () {
        var id = $(this).attr("data-id");
        $.get("/Movies/AjaxGetScheduleViewByMovieId", { movieId: id }, function (data) {
            $("body").remove("#modalSchedule");
            $(data).appendTo("body").modal("show");
        });
    });
</script>
